# Dependencies
/node_modules

# Build artifacts and output folders
/dist
/build
/out
/.next         # Next.js
/.nuxt         # Nuxt.js
/.svelte-kit   # Sveltekit
/coverage      # Code coverage reports

# Environment variables
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local

# Logs and debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor and OS files
.DS_Store      # macOS
.idea/         # JetBrains IDEs
.vscode/       # VS Code (optional, if you have specific team settings to ignore)
*.suo
*.user
*.cas
*.sap

# Optional: Yarn v2+ files
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
